# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\sya\eclipse-work-space\saolei\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
